body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c9f0f2;
}
* {
  box-sizing: border-box;
}
form {
  background-color: #fff;
  margin: 0.5rem 0;
  max-width: 85%;
}
img {
  max-width: 100%;
  height: auto;
}

/* Errors */
.errors {
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Navbar */
nav {
  overflow: hidden;
  background-image: url("./images/nav-bg.png");
  background-size: 100%;
}

nav img {
  height: 50%;
  width: 50%;
}

.brand-logo {
  height: 100%;
  width: 80px;
  margin: 0 50%;
}

nav ul {
  margin: 0 1rem;
}

nav li a {
  font-weight: 700;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

/* Homepage style */
.home-hero {
  margin-top: 64px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-image: url("./images/signed-out-home.jpg");
  background-position: center center;
  background-size: cover;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 8px black;
}

/* Authforms */
.form-header {
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.form-btn {
  display: flex;
  justify-content: center;
}

/* MessageTimeline styles */
.MessageTimeline {
  /* display: flex; */
  padding: 2rem;
  margin-top: 1rem;
}

.UserAside {
  padding-top: 0.5rem;
}

/* Message Item */
.title-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
